<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title -Hospital Managment System</title>
    <link href="@Url.Content("~/MyOwnContent/AllMin.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/MyOwnContent/Hospital.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/MyOwnContent/Site.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/MyOwnContent/Table.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/MyOwnContent/Master.css")" rel="stylesheet" type="text/css" />
</head>
<body> 
        @RenderBody()
</body>
</html>
